{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
<div class="password main-body">


    <div class="password-div">
        <h1>Changing user password</h1>
        <form action="/users/password/{{id}}" method="post">
                <div class="mb-3">
                    <label for="password">
                        New Password:
                    </label>
                    <input autocomplete="off" autofocus class="form-control " name="password" id="password" placeholder="New Password" type="password" maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="confirm">
                        Confirm Password:
                    </label>
                    <input autocomplete="off" autofocus class="form-control " name="confirm" id="confirm" placeholder="Confirm Password" type="password" maxlength="20">
                </div>
                <button class="btn btn-primary" type="submit">Change Password</button>

        </form>
        <div class="btn-div">
            <a href="/users/edit/{{id}}">
                <button>Cancel</button>
            </a>
        </div>

    </div>

</div>

<script>

    document.getElementById('password').addEventListener('keydown', function(e) {
        if (e.keyCode === 32) {
            e.preventDefault(); // Prevent the space character from being entered
        }
    });
    document.getElementById('confirm').addEventListener('keydown', function(e) {
        if (e.keyCode === 32) {
            e.preventDefault(); // Prevent the space character from being entered
        }
    });

</script>
{% endblock %}
