{% extends "layout.html" %}

{% block title %}
    Edit Bank
{% endblock %}


{% block main %}
<div class="editbank main-body">
    <h1>Editing Bank</h1>
    <div class="delete-div">
        <button id="delete-btn">Delete Bank</button>
    </div>

    <form action="/banks/edit/{{ bank.bank_id }}" method="post">
        <div class="form-container">

                <div class="mb-3">
                    <label for="bank_name">Bank Name</label>
                    <input class="form-control" id="bank_name" name="bank_name"
                           value="{{ bank.bank_name }}"
                           type="text">
                </div>
                <div class="mb-3">
                    <label for="website">Website:</label>
                    <input class="form-control" id="website" name="website"
                           value="{{ bank.website }}">
                </div>
                <div class="mb-3">
                    <label for="address">Address:</label>
                    <input class="form-control" id="address" name="address"
                           value="{{ bank.address }}">
                </div>
                <div class="mb-3">
                    <label for="city">City:</label>
                    <input class="form-control" id="city" name="city"
                           value="{{ bank.city }}">
                </div>
                <div class="mb-3">
                    <label for="state">State:</label>
                    <select autocomplete="off" autofocus class="form-control" id="state" name="state">
                        {% for state in states %}
                            {% if bank.state == state %}
                            <option selected name="{{state}}">{{state}}</option>
                            {% else %}
                            <option  name="{{state}}">{{state}}</option>
                            {% endif %}

                                {{ state }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="zip">Zip:</label>
                    <input class="form-control" id="zip" name="zip"
                           value="{{ bank.zip }}">
                </div>

            </div>


        <!-- BUTTONS -->
        <div id="buttons-div">
            <a class="a-btn" href="/banks">Cancel</a>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

</div>
<div class="confirm-modal hidden">
    <div class="confirm-modal-body">
        <h4>Are you sure you want to delete this bank? This action cannot be undone.</h4>
        <div class="modal-btns">
            <button id="confirm-cancel-btn">Cancel</button>
            <form action="/banks/delete/{{bank.bank_id}}" method="POST">
                <button id="confirm-delete-btn">Confirm</button>
            </form>
        </div>
    </div>
</div>
<script>
    let deleteBtn = document.getElementById("delete-btn")
    let confirmModal = document.querySelector(".confirm-modal")
    let modalBody = document.querySelector(".confirm-modal-body")
    let cancelBtn = document.getElementById("confirm-cancel-btn")
    let confirmDeleteBtn = document.getElementById("confirm-delete-btn")
    let websiteInput = document.getElementById('website')
    websiteInput.addEventListener("keydown", (e)=>{
        if (e.keyCode === 32) {
                e.preventDefault(); // Prevent the space character from being entered
            }
    })
    let stateInput = document.getElementById('state')
    stateInput.addEventListener("keydown", (e)=>{
        console.log(e)
        if (stateInput.value.length >= 2 && e.keyCode !== 8 && e.keyCode !== 9) {
            e.preventDefault();
        }
        stateInput.value = stateInput.value.toUpperCase();
    })

    // Open modal
    deleteBtn.addEventListener("click", ()=>{
            confirmModal.classList.remove("hidden")

            //reset animation
            modalBody.classList.remove("isClosing");
            modalBody.classList.remove("isOpen");

            void modalBody.offsetWidth;

            // Start zoom in
            modalBody.classList.add("isOpen");
    })

    // close modal
    cancelBtn.addEventListener("click", (e)=>{
        // Stop zoom in if running
        modalBody.classList.add("isOpen");

        // start zoom out
        modalBody.classList.add("isClosing");
    });

    // when zoomout finishes hide the modal
    modalBody.addEventListener("animationend", (e)=>{
        if (e.animationName === "zoomOut") {
            modalBody.classList.remove("isClosing");
            confirmModal.classList.add("hidden");
        }
    })


</script>

{% endblock %}
