{% extends "layout.html" %} {% block title %} HISTORY {% endblock %} {% block
main %}

<div class="history main-body">
  <h1>Your Ordering History</h1>
  <div class="table-div">
    {% if orders %}
    <table>
      <thead>
        <td>Order Id</td>
        <td>Order Date (EST)</td>
        <td>Order Status</td>
        <td>Shipping Name</td>
        <td>Shipping Address</td>
        <td>Order Total</td>
        <td>Receipt</td>
      </thead>

      {% for order in orders %}
      <tr>
        <td data-label="Order Id">#CC{{order.order_id}}</td>
        <td data-label="Order Date">{{order.order_date}}</td>
        <td data-label="Order Status">{{order.order_status | capitalize}}</td>
        <td data-label="Shipping Name">
          {{order.first_name}} {{order.last_name}}
        </td>
        <td data-label="Shipping Address">
          {{bank}}, {{order.address}} {{order.city}} {{order.state}}
          {{order.zip}}
        </td>
        <td data-label="Order Total" class="right-align">
          {{"$%.2f"|format(order.order_total + 15)}}
        </td>
        <td data-label="Receipt">
          <a href="/order/{{order.order_id}}/receipt">
            <i class="fa-solid fa-file-invoice-dollar"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <div class="pagination">
      {% if page==1 %}
      <i class="fa-solid fa-circle-arrow-left disabled"></i>
      {% else %}
      <a href="/history?page={{page -1}}">
        <i class="fa-solid fa-circle-arrow-left"></i>
      </a>
      {% endif %}
      <span id="page">{{page}}</span>
      {% if page==endpage %}
      <i class="fa-solid fa-circle-arrow-right disabled"></i>
      {% else %}
      <a href="/history?page={{page + 1}}">
        <i class="fa-solid fa-circle-arrow-right"></i>
      </a>
      {% endif %}
    </div>
  </div>
  {% else %}
  <h5>No orders found!</h5>
  <a class="a-btn" href="/order">Place an Order</a>
  {% endif %} {% endblock %}
</div>
