{% extends "layout.html" %}

{% block title %}
    Index
    {% endblock %}

    {% block main %}
    <div class="index middle">

       {% if name %}
          <h1>
              Welcome back, {{name}}.
                 </h1>

                    {% else %}
                            <h1>Welcome</h1>
                                    <a class="a-btn" href="/login">Log In</a>
                                            <a class="a-btn" href="/register">Register</a>
                                               {% endif %}

                                               </div>

                                               {% endblock %}}
